version: '3.8'

services:
  #  Django(Python)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: django-app
    volumes:
      - ./backend/src:/workspace
    ports:
      - '8000:8000'
    depends_on:
      - db
    stdin_open: true
    tty: true
    networks:
     - django_app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vue-app
    ports:
      - '8080:8080'
    volumes:
      - ./frontend/src:/src
    stdin_open: true
    tty: true
    networks:
     - django_app_network

  # MySQL
  db:
    image: mysql:5.7
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db
      MYSQL_USER: dbadmin
      MYSQL_PASSWORD: dbadmin
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      TZ: 'Asia/Tokyo'
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./db/data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
     - django_app_network

  # phpMyAdmin
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - 3000:80
    networks:
     - django_app_network

networks:
  django_app_network:
    external: true
